@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --color-button1: #FF9DF5;
  --color-button2: #97EA9F;
  --color-button3: #CDCDCD;
  --color-header: #FF6868;
  --color-menuBurguer: #8AF1FF;
  --color-link: #40AFFF;
  --color-link2: #008080;
  --color-link3: #800080;
  --color-link4: #FF3A3A;
  --color-link-hover: #C6558B;
  --color-white: #fdf5e6;
  --color-black: #000000;
  --color-error: #1f1c1c;
  ;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* BUTTONS, INPUTS, TEXTAREAS */

.button, .input, .textarea {
  width: 100%;
  border-radius: 4px;
}

.button, .input {
  height: 50px;
}

.input, .textarea {
  box-sizing: border-box;
  border: 2px solid var(--color-black);
  margin-bottom: 15px;
}

.button {
  background-color: var(--color-button1);
  border: none;
  font-size: 16px;
  font-weight: 700;
}

.input {
  text-align: center;
  padding: 8px 0;
}

.textarea {
  min-height: 127px;
}

