.auth-container {
  display: grid;
  gap: 40px;
}

.auth-form-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auth-title {
  text-align: center;
}

.auth-form-link{
  text-align: center;
  text-decoration: underline;
  color: var(--color-link);
  margin-bottom: 20px;
}

.auth-form-link:hover {
  color: var(--color-link-hover)
}