.report {
  padding: 44px 20px;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 200px;
}

.report-container {
  display: grid;
  gap: 30px;
}

/* FORMULARIO */
.report-form {
  display: grid;
  gap: 20px;
}

.location-p {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  margin-bottom: 25px;
}

pre-loader {
  display: none;
}

/* BUTTONS */
.button-cancel {
  background-color: var(--color-button3);
}

.dropzone-button {
  background-color:  var(--color-button2);
  text-align: center;
  min-height: 50px;
  height: auto;
  padding: 10px;
  display: grid;
  align-items: center;
  gap: 10px;
}

.button-search {
  margin-bottom: 10px;
  background-color: var(--color-header);
}

/* MAPBOX */
.dz-success-mark, .dz-error-message, .dz-progress, .dz-details, .dz-error-mark, .dz-default, .mapboxgl-ctrl-attrib-inner,  .mapboxgl-ctrl-attrib-button {
  display: none;
}

