.data {
  padding: 44px 20px;
  height: 80vh;
  max-width: 600px;
  margin: 0 auto;
}

.data-container {
  display: grid;
  gap: 40px;
}

.data-title {
  text-align: center;
}

.data-form {
  display: grid;
}

.name-label {
  margin-bottom: 40px;
}

.repeat-password-label {
  margin-bottom: 40px;
}

.message {
  padding: 2px;
  border-radius: 4px;
  font-size: 20px;
  text-align: center;
}