.page-home {
  padding: 33px 20px;
  max-width: 670px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.title {
  text-align: left;
}

.text {
  text-align: center;
}

.container {
  display: grid;
  gap: 25px;
}

@media(min-width:769px){
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
  }
}

.container-form {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 769px) {
  .container-form {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form-button {
  margin-top: 22px;
}

.notPet {
  display: none;
}
