.edit {
  padding: 44px 20px;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 200px;
}

.edit-container {
  display: grid;
  gap: 30px;
}

/* FORMULARIO */

.edit-form {
  display: grid;
  gap: 20px;
}

.pet-picture {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

/* LABEL UBICATION */

.ubication {
  margin-top: 15px;
}

/* BUTTONS */

.button-cancel {
  background-color: var(--color-button3);
}

.button-search {
  margin-bottom: 10px;
  background-color: var(--color-header);
}

.state-button, .dropzone-button {
  background-color: var(--color-button2);
}

.dropzone-button {
  height: auto;
  min-height: 50px;
  padding: 10px;
  display: grid;
  gap: 10px;
  align-items: center;
  text-align: center;
}

/* LINK DE DESPUBLICAR */

.unpublish-link {
  text-decoration: underline; 
  display: flex;
  justify-content: center;
  color: var(--color-link4);
  margin-bottom: 15px;
}

.unpublish-link:hover {
  text-decoration: none; 
  color: var(--color-link3);
}

/* SACAMOS LAS MARCAS QUE NOS PONE MAPBOX */

.dz-success-mark, .dz-error-message, .dz-progress, .dz-details, .dz-error-mark, .dz-default, .mapboxgl-ctrl-attrib-inner,  .mapboxgl-ctrl-attrib-button {
  display: none;
}

